html,body{
    width:100%;
    margin:0;
    padding: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    background-color: #eceef1;
}
.sign-in{
    display: flex;
    flex-direction: row;
    width:25%;
    margin:.5% 3%;
    height: 10%;
    align-self: flex-end;
    justify-self: flex-start;
    align-items: center;
}
.sign-in__text{
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: 400;
color:#505050;
font-size: 0.85em;
width:80%;
line-height: 1.4;
text-align: right;
}
.sign-in__button{
    height: 4vh;
    width:35%;
    margin-left: 2%;
    background:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png")  no-repeat;
    background-position:15% 50%;
    background-size: 0.9em;
    padding-left: 7%;
    color:white;
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 7%;
    border:1px solid black;
    background-color: #0077c5;

}
.form{
    align-self: center;
    justify-self: center;
    height:150vh;
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__image{
    width:100%;
    height:20vh;

}
.form__image img{
    height:100%;
    width:100%;
}
.form__main{
    background-color: white;
}
fieldset{
    background-color: none;
    border: none;
}
.form_all{
    background-color: white;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;}
    .form_all h3{
    color:#4c4c4c;
font-weight: 400;
line-height: 1.1;
font-size: 1.8em;
font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.form__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__main fieldset{
    width:80%;
    margin:2% auto;
}
input{
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
input[type=text],
input[type=password] {
    box-sizing : border-box;
}
label{
    font-weight: 400;
    display: inline-block;
    margin-bottom: 4%;
color:
#404040;
font-size: 1em;
line-height: 1;
font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
fieldset p{
    color:#404040;
    font-size: 0.8em;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.form__main button{
    height: 8vh;
    width:80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    background:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png")  no-repeat;
    background-position:27% 40%;
    background-size: 1.3em;
    padding-left: 7%;
    color:white;
    font-size: 1em;
    font-weight: 700;
    border-radius: 3%;
    border:1px solid black;
    background-color: #0077c5;

}
.form__footer{
font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 0.9em;
font-weight: 400;
color:#757575;;
font-style: italic;
text-align: center;
margin:0 auto;
width:80%
}
.footer{
    width:100%;
    text-align: center;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 0.9em;
font-weight: 400;
color:#757575;;
font-style: italic;
background-color:  #eceef1;
}